
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
span{
    color: rgb(255, 173, 90);
}
.banner-container{
  /* border: 2px solid red; */
  width: 1128px;
  height: 500px; 
  margin: 100px auto 0px; 
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-text{
    width: 60%;
    /* border: 2px solid blue; */
}
.banner-text h1{
    width: 503px;
    margin-left: 10px;
    height: 160px;
    font-size: 60px;
    font-weight: 400;    
    line-height: 80px;    
    letter-spacing: 0px

}
.banner-text h1::before{
    
    content: '';
    position: absolute;
    width: 4px;
    height: 120px;
    
    left: 172px;
    
    right: 360px;
    
    top: 200px;
    
    bottom: -121px;    
    background-color: #ef400b; 
}

.banner-text p{
    font-size: 18px;
    font-weight: 400;    
    line-height: 28px;
    margin-bottom: 16px;
}
.banner-text .btn{
    margin-bottom: 16px;
    width: 172px;
    height: 48px;
    border-radius: 5px;
    background: rgb(255, 89, 89); 
    color: white;   
    border: none;
}

.banner-pic{
    width: 40%;
    /* border: 2px solid blue; */
    display: flex;
    margin: 0px auto;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 120px;

}
/* mission section style */

.misson-container{
    /* border: 2px solid red; */
    width: 1128px;
    height: 500px; 
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}
.misson-text{
    /* border: 2px solid red; */
    margin: 24px auto; 
    width: 100%; 
    text-align: center;
    font-size: 38px;
    font-weight: 700;    
    line-height: 70px;    
}
.misson-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-radius: 15px;
}
.misson-card .card{
    /* border: 2px solid rebeccapurple; */
    width: 360px;
    height: 300px;
    padding: 5px;
    border-radius: 26px;   
}
.card img{
    width: 141px;
    height: 141px;
}
.card h3{
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    padding: 5px;
}
.card p{
    font-size: 16px;
    font-weight: 400;    
    line-height: 24px;
    padding: 5px;
}